@charset "UTF-8";
/* SETTINGS */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #f1f1f1;
}

/* 
-------------------------------------------------------HEADER */
nav {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 70px;
  background: transparent;
  transition: background-color 0.3s linear, border-bottom 0.3s linear;
}

nav ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 15px;
}

@media screen and (max-width: 550px) {
  nav li {
    margin: 0 8px;
  }
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 550px) {
  nav a {
    font-size: 16px;
  }
}

.anim-nav {
  background: #000;
  border-bottom: 1px solid #f1f1f1;
}

/* 
-------------------------------------------------------HERO */
.home {
  height: 800px;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .home {
    height: 600px;
  }
}

@media screen and (max-width: 550px) {
  .home {
    height: 450px;
  }
}

.home h1 {
  color: #f1f1f1;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 90px;
  padding: 200px 0 20px 0;
  margin-left: 8vw;
  white-space: nowrap;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .home h1 {
    font-size: 50px;
    padding-top: 120px;
  }
}

@media screen and (max-width: 550px) {
  .home h1 {
    font-size: 40px;
    padding-top: 100px;
    margin-left: 2vw;
  }
}

.home p {
  color: #f1f1f1;
  font-size: 30px;
  width: 600px;
  margin-left: 8vw;
  line-height: 1.3;
}

@media screen and (max-width: 750px) {
  .home p {
    font-size: 25px;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 550px) {
  .home p {
    font-size: 20px;
    margin-left: 2vw;
    margin-bottom: 15px;
  }
}

.home__left-bloc {
  position: relative;
  width: 40%;
  height: 100%;
  background: black;
  box-shadow: 90px 0 100px 100px black;
}

@media screen and (max-width: 1350px) {
  .home__left-bloc {
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .home__left-bloc {
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .home__left-bloc {
    box-shadow: 20px 0 100px 100px black;
    width: 40%;
  }
}

.home__left-bloc__btn-container {
  display: flex;
  margin-left: 8vw;
}

@media screen and (max-width: 550px) {
  .home__left-bloc__btn-container {
    margin-left: 2vw;
  }
}

.home__left-bloc .btn-home {
  font-style: 18px;
  text-align: center;
  color: #f1f1f1;
  padding: 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 40px;
  border: 1px solid #f1f1f1;
  width: 150px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .home__left-bloc .btn-home {
    font-size: 18px;
    padding: 12px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 550px) {
  .home__left-bloc .btn-home {
    padding: 8px;
  }
}

.home__left-bloc .btn-home:hover {
  transition: all .3s ease-in-out;
  color: black;
  background: #f1f1f1;
}

.home__left-bloc .b1 {
  margin-right: 10px;
}

@media screen and (max-width: 550px) {
  .home__left-bloc .b1 {
    margin-right: 5px;
  }
}

.home__left-bloc .b2 {
  margin-left: 10px;
}

@media screen and (max-width: 550px) {
  .home__left-bloc .b2 {
    margin-left: 5px;
  }
}

.home__right-bloc {
  background-image: url(assets/gym-accueil.jpg);
  width: 60%;
  height: 100%;
  background-position: 70% 10%;
}

@media screen and (max-width: 1350px) {
  .home__right-bloc {
    background-position: 72% 10%;
  }
}

/* 
-------------------------------------------------------Section 1 - INFOS */
.info-title {
  color: black;
  text-align: center;
  font-size: 65px;
  padding: 50px 20px 120px;
  font-family: Montserrat, Helvetica, sans-serif;
}

@media screen and (max-width: 1000px) {
  .info-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 550px) {
  .info-title {
    font-size: 32px;
    padding: 40px 20px 40px;
  }
}

.info-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.info-section__card {
  width: 350px;
  height: auto;
  margin: 0 20px 80px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 550px) {
  .info-section__card {
    margin: 0 10px 45px;
  }
}

.info-section__card__img-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.info-section__card__decoration {
  position: absolute;
  z-index: -1;
  top: -70px;
  left: -100px;
}

@media screen and (max-width: 1400px) {
  .info-section__card__decoration {
    display: none;
  }
}

.info-section__card h3 {
  color: #333;
  text-align: center;
  font-size: 25px;
  padding: 20px 5px;
}

.info-section__card p {
  color: #333;
  text-align: center;
  font-size: 23px;
  padding: 0px 5px 15px;
}

/* 
-------------------------------------------------------Section 2 - OFFER */
.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

@media screen and (max-width: 775px) {
  .offer {
    flex-direction: column;
  }
}

.offer__choice {
  text-align: center;
  width: 500px;
  color: #f1f1f1;
  margin: 50px 20px 70px;
}

@media screen and (max_width: 1200px) {
  .offer__choice {
    width: 400px;
  }
}

@media screen and (max_width: 775px) {
  .offer__choice {
    width: 350px;
    margin: 10px 20px 5px;
  }
}

@media screen and (max_width: 550px) {
  .offer__choice {
    width: 350px;
    margin: 5px 0px 5px;
  }
}

@media screen and (max_width: 775px) {
  .offer__choice:nth-child(1) {
    margin: 10px 20px 0px;
  }
}

.offer__choice__btn {
  width: 250px;
  max-width: 100%;
  padding: 15px 0;
  font-size: 22px;
  background: black;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  cursor: pointer;
}

@media screen and (max_width: 775px) {
  .offer__choice__btn {
    width: 150px;
  }
}

.offer__choice__btn:hover {
  transition: all .3s ease-in-out;
  background: white;
  color: black;
}

.offer__choice h3 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: Montserrat, Helvetica, sans-serif;
}

@media screen and (max_width: 775px) {
  .offer__choice h3 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.offer__choice p {
  font-size: 18px;
  width: 70%;
  margin: 0 auto 30px;
}

/* 
-------------------------------------------------------Section 3 - EQUIPMENT */
.equipment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  min-width: 300px;
  margin: 0 auto 100px;
}

.equipment__title {
  text-align: center;
  font-size: 70px;
  color: black;
  padding: 50px 0;
  text-transform: uppercase;
  font-family: Montserrat, Helvetica, sans-serif;
}

@media screen and (max-width: 850px) {
  .equipment__title {
    font-size: 45px;
  }
}

@media screen and (max-width: 500px) {
  .equipment__title {
    font-size: 35px;
  }
}

.equipment__equipments {
  text-align: center;
}

.equipment__equipments__btn {
  width: 350px;
  height: 400px;
  border: none;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.equipment__equipments__btn:nth-child(1) {
  background-image: url(assets/img1-equip.jpg);
}

.equipment__equipments__btn:nth-child(2) {
  background-image: url(assets/img2-equip.jpg);
}

.equipment__equipments__btn:nth-child(3) {
  background-image: url(assets/img3-equip.jpg);
}

.equipment__equipments__btn:nth-child(4) {
  background-image: url(assets/img4-equip.jpg);
}

.equipment__equipments__btn:nth-child(5) {
  background-image: url(assets/img5-equip.jpg);
}

.equipment__equipments__btn:nth-child(6) {
  background-image: url(assets/img6-equip.jpg);
}

.equipment__equipments__btn:nth-child(7) {
  background-image: url(assets/img7-equip.jpg);
}

.equipment__equipments__btn:nth-child(8) {
  background-image: url(assets/img8-equip.jpg);
}

.equipment__equipments__btn:nth-child(9) {
  background-image: url(assets/img9-equip.jpg);
}

.modal-bloc {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 6;
  display: none;
}

.modal-bloc__img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
}

.modal-bloc__img-container img {
  width: 100%;
}

.active {
  display: block;
}

/* 
-------------------------------------------------------Section 4 - PARALLAX */
.parallax {
  background-image: url(assets/img-paral.jpg);
  background-attachment: fixed;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax__txt {
  font-size: 100px;
  color: white;
  text-align: center;
  font-weight: 700;
}

@media screen and (max-width: 550px) {
  .parallax__txt {
    font-size: 50px;
  }
}

/* 
-------------------------------------------------------Section 5 - PRICES */
.prices-title {
  background: #f1f1f1;
  font-size: 50px;
  text-align: center;
  padding: 50px 0;
}

.glow-effect {
  position: relative;
  height: 50px;
  width: 900px;
  transform: rotate(-35deg);
  left: 100px;
  top: -120px;
  opacity: 0.7;
  transition-duration: 0s;
  background: white;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.745833) 50%, rgba(255, 255, 255, 0) 100%);
}

.prices {
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 70%;
  min-width: 1300px;
  min-width: 300px;
  margin: 0 auto 100px;
}

.prices__card {
  width: 300px;
  height: auto;
  background-image: linear-gradient(137deg, transparent 0%, transparent 11%, rgba(156, 156, 156, 0.06) 11%, rgba(156, 156, 156, 0.06) 81%, transparent 81%, transparent 100%), linear-gradient(137deg, transparent 0%, transparent 18%, rgba(156, 156, 156, 0.06) 18%, rgba(156, 156, 156, 0.06) 64%, transparent 64%, transparent 100%), linear-gradient(227deg, transparent 0%, transparent 13%, rgba(156, 156, 156, 0.06) 13%, rgba(156, 156, 156, 0.06) 22%, transparent 22%, transparent 100%), linear-gradient(182deg, black, black);
  color: #f1f1f1;
  margin: 20px 10px;
  border-radius: 5px;
  overflow: hidden;
  transition-duration: 0.2s;
}

.prices__card h3 {
  text-align: center;
  font-size: 45px;
  margin: 25px 0;
  font-family: Montserra, Arial, Helvetica, sans-serif;
  position: relative;
}

.prices__card:hover {
  transform: scale(1.03);
  transition-duration: 0.2s;
}

.prices__card:hover .glow-effect {
  /*  bottom: 500px;
                  left: -230px; */
  transform: translate(-100%, -300px) rotate(-45deg) scaleY(4);
  transition-duration: 0.5s;
}

.prices__card__price {
  text-align: center;
  font-size: 30px;
  margin: 25px 0;
}

.prices__card__price span {
  font-size: 80px;
  position: relative;
}

.prices__card__price span::after {
  content: "€";
  display: block;
  position: absolute;
  top: 10px;
  right: -20px;
  font-size: 25px;
}

.prices__card__info {
  width: 170px;
  margin: 20px auto 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 22px;
}

.prices__card__info img {
  margin-right: 7px;
  width: 20px;
}

/* 
-------------------------------------------------------Section 6 - CONTACT */
.contact-title {
  border-top: 1px dashed;
  text-align: center;
  font-size: 50px;
  padding: 50px 0;
}

form {
  width: 50%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 100px;
  position: relative;
}

@media screen and (max-width: 1100px) {
  form {
    width: 80%;
  }
}

form label, form input {
  width: 100%;
  font-size: 20px;
  margin: 5px 0;
}

form input {
  padding: 10px 5px;
}

form textarea {
  width: 100%;
  height: 200px;
  font-size: 20px;
  padding: 15px;
}

.form-btn {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 15px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #333;
  transition-duration: 0.3s;
}

.form-btn:hover {
  cursor: pointer;
  background: #000;
  color: white;
}

/* 
-------------------------------------------------------FOOTER */
footer {
  text-align: center;
  padding: 15px;
  border-top: 1px dashed black;
}
